body {
    background-color: white;
}
button {
    background-color: blue;
    color: white;
    width: 170px;
    height: 51px;
}
.hiro {
        background-color: #2E2F42;
        color: white;
        width: 1440px;
        height: 603px;
        font-family: 'Helvetica Neue', 'Roboto', 'Verdana', 'Tahoma', sans-serif;
        text-align: center;
        font-size: 56px;
        line-height: 60px;
        line-height: 90%;
        letter-spacing: 2%;
    display: table-cell;
    vertical-align: middle
    }

header {
 width: 1440px;
 height: 72px;
 font-family: 'Helvetica Neue', 'Roboto', 'Verdana', 'Tahoma', sans-serif;
        text-align: justify;
        font-size: 16px;
        line-height: 24px;
        line-height: 128%;
}


footer {
    background-color: #2E2F42;
    color: white;
    width: 1440px;
 height: 310px;
 background-position-y: 2283px;
 background-position-x: 0px;
 font-family: 'Helvetica Neue', 'Roboto', 'Verdana', 'Tahoma', sans-serif;
        text-align: left;
        font-size: 16px;
        line-height: 24px;
        line-height: 128%;
}
.our-team {
    background-color: #F4F4FD;
    width: 1440px;
 height: 723px;
}
.inline {
    color: #2E2F42;
    list-style-type: none;
    display: inline-block;
}
.contacts {
    color: #2E2F42;
    text-align: right;
    list-style-type: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Helvetica Neue', 'Roboto', 'Verdana', 'Tahoma', sans-serif;
}
.img-positioning {
    list-style-type: none;
    display: inline-block;  
}
.text {
    list-style-type: none;
    display: inline-block;
    width: 264px;
    height: 72px;
}